/* back to reality  */

body {
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  color: #666f6f;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
}

#title {
  color: #27D4B5;
}

.info {
  transition: all .5s ease-in-out;
}

.player-one {
  color: #FE424D;
}

.player-two {
  color: #2A93D5;
}

.round {
  position: relative;
  display: block;
  margin: 2em 0;
  background: none;
  text-align: center;
}

.round:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  content: "";
}

.round__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.round__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.round__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.grid {
  font-size: 0;
  margin-top: 40px;
}

.box {
  border: 1px solid #e5e5e5;
  width: 30.6666666667%;
  padding: 0;
  display: inline-block;
  position: relative;
}

.box:hover {
  cursor: pointer;
}

.box:hover:after {
  background-color: #e5e5e5;
}
.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  transition: all .5s ease-in-out;
}

.box:nth-child(1){
  border-top: none;
  border-left: none;
}

.box:nth-child(2){
  border-top: none;
}

.box:nth-child(3){
  border-top: none;
  border-right: none;
}

.box:nth-child(4){
  border-left: none;
}

.box:nth-child(6){
  border-right: none;
}

.box:nth-child(7){
  border-bottom: none;
  border-left: none;
}

.box:nth-child(8){
  border-bottom: none;
}

.box:nth-child(9){
  border-bottom: none;
  border-right: none;
}

.box > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content > i {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: all .2s ease-in-out;
}

.btn-primary {
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  border: 2px solid #27D4B5;
  margin: 40px auto 0 auto;
  background: none;
  color: #27D4B5;
  cursor: pointer;
  padding: 0;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.btn-primary:hover, .btn-primary:active {
  background: #27D4B5;
  border: 2px solid #27D4B5;
  color: #f5f5f5;
  transition: all .5s ease-in-out;
}

/* icons */
.circleIcon {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #2A93D5;
  transition: all .5s ease-in-out;
}

.crossIcon {
  display: inline-block;
  overflow: hidden;
  transition: all .5s ease-in-out;
}
.crossIcon::before, .crossIcon::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #FE424D;
}
.crossIcon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.crossIcon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.circle:hover, .cross:hover {
  cursor: not-allowed;
}

.circle:hover:after, .circle:active:after, .cross:hover:after, .cross:active:after {
  background: none;
}
